// =================================
// Color palette
// =================================

// Generic colors
$blue                         : #288ad6;
$green                        : #16c98d;
$red                          : #fa5e5b;
$yellow                       : #feef6d;
$orange                       : #e67e22;
$pink                         : #ff708e;
$purple                       : #5b5b5b;
$gray                         : #95a5a6;


// Color Scheme
$color-primary                : #5b5b5b;

$color-secondary              : #5b5b5b;
$color-highlight              : #66ffcc;


// Common colors
$color-text                   : #d6d6d6;
$color-bg                     : white;
$color-border                 : #d6d6d6;

// Text Selection
$color-selection              : #5b5b5b;
$color-selection-bg           : #66ffcc;


// Links
$color-link-default           :$color-secondary;
$color-link-visited           :$color-secondary;
$color-link-hover             : darken($color-secondary, 20%);
$color-link-active            : darken($color-secondary, 20%);


// <hr> border color
$hr-border                    : lighten(#000, 70%);
